p {
	background-color: black;
}
body{
	background-image:url(https://c4.wallpaperflare.com/wallpaper/431/57/206/geometry-geometric-web-dark-wallpaper-preview.jpg);
	color: white;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
