vti_encoding:SR|utf8-nl
vti_author:SR|CENCOL\\300873223
vti_modifiedby:SR|CENCOL\\300873223
vti_timelastmodified:TR|14 Dec 2018 02:34:40 -0000
vti_timecreated:TR|14 Dec 2018 02:34:40 -0000
vti_cacheddtm:TX|14 Dec 2018 02:34:41 -0000
vti_filesize:IR|40
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Final\\ project/Property.html
